
  filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/*.log
      - /var/log/supervisor/*.out

  filebeat.config.modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false
